<form class="create-form" action="/restaurants" method="POST">
  <!-- name -->
  <div class="create-div">
    <label class="create-label" for="name">餐廳名稱</label>
    <div class="create-colon">:</div>
    <input class="create-input" type="text" id="name" name="name">
  </div>
  <!-- name_en -->
  <div class="create-div">
    <label class="create-label" for="name_en">英文名稱</label>
    <div class="create-colon">:</div>
    <input class="create-input" type="text" id="name_en" name="name_en">
  </div>
  <!-- category -->
  <div class="create-div">
    <label class="create-label" for="category">分類</label>
    <div class="create-colon">:</div>
    <input class="create-input" type="text" id="category" name="category">
  </div>
  <!-- image -->
  <div class="create-div">
    <label class="create-label" for="image">圖片連結</label>
    <div class="create-colon">:</div>
    <input class="create-input" type="text" id="image" name="image">
  </div>
  <!-- location -->
  <div class="create-div">
    <label class="create-label" for="location">地址</label>
    <div class="create-colon">:</div>
    <input class="create-input" type="text" id="location" name="location">
  </div>
  <!-- phone -->
  <div class="create-div">
    <label class="create-label" for="phone">電話</label>
    <div class="create-colon">:</div>
    <input class="create-input" type="text" id="phone" name="phone">
  </div>
  <!-- google_map -->
  <div class="create-div">
    <label class="create-label" for="google_map">地圖連結</label>
    <div class="create-colon">:</div>
    <input class="create-input" type="text" id="google_map" name="google_map">
  </div>
  <!-- rating -->
  <!-- type="number" min="1" max="5" step="0.1" -->
  <div class="create-div">
    <label class="create-label" for="rating">評分</label>
    <div class="create-colon">:</div>
    <input class="create-input" type="number" min="1" max="5" step="0.1" id="rating" name="rating">
  </div>
  <!-- description -->
  <div class="create-div">
    <label class="create-label" for="description">介紹</label>
    <div class="create-colon">:</div>
    <input class="create-input" type="text" id="description" name="description">
  </div>
  <!-- button -->
  <div class="create-btn">
    <button class="submit-btn" type="submit">新增</button>
    <button class="reset-btn">移除</button>
    <button class="return-btn">返回</button>
  </div>
</form>