<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <div class="logo">
      <a class="logo-link" href="/">
        <i class="fa-solid fa-utensils"></i>
      </a>
    </div>
    {{#if create}}
    <div class="create">
      <a class="create-link" href="restaurant/create">新增</a>
    </div>
    {{/if}}
  </header>
  <main>
    {{{body}}}
  </main>
  <script src="https://kit.fontawesome.com/6fb9682f78.js" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
</body>

</html>